s*{
    padding: 0;
}

body {
  background-color: #1d41e2;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: verdana;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: center;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

table, th, td {
  border-collapse: collapse;
  text-align: center;
  font-family: verdana;
  color: white;
}

.img-imagery {
    width: 100%;
}

h1 { 
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
//you aren't even using this just remove it already you cunt
h2 {
  color: yellow;
  font-family: verdana;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: lightgray;
    transition: color white 0.25s ease;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

img {
    text-align:center;
}

div {
    text-align:center;
}